<div class="footer">

        <div class="container" id="card1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.
            68898348174!2d80.52740481426815!3d7.045787418827045!2m3!1f0!2f0!3f0!3m2!
            1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae374317751c4cb%3A0x4b52b3cdda5eed21!2s
            Selam%20Bridge!5e0!3m2!1sen!2slk!4v1606747856819!5m2!1sen!2slk" style="width:100%; height:100%;" frameborder="0"></iframe>
        </div>
    
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
        <div class="details">
            <p>In Hand, Inc. is the meium central province nwide network of affiliate real estate,
                 and mortgage ; committed to providing easy ways
                  to save on a home. <br> <a href="http://localhost/websites/admin/login.php"> ADMIN </a></p>
                  <img src="assets/images/1w.png" alt="">
                  <p>Copyright © 2022 : In Hand All Rights Reserved.</p>
        </div>
    </div>
   
    <div class="col-md-4 col-lg-4 col-xl-3 mx-auto">

        <div class="details2">
            <div class="mail">
                <img src="assets/images/m.png" alt="">
                <h4>inhandlanka@gmail.com</h4>
            </div>
            
            <div class="insta">
                <img src="assets/images/ii.png" alt="">
                <h4>inhand_for_live</h4>
            </div>

            <div class="wap">
                <img src="assets/images/a.png" alt="">
                <h4>0773064402</h4>
            </div>
            
            <div class="twit">
                <img src="assets/images/t.png" alt="">
                <h4>inhand_for_live</h4>
            </div>
            <div class="face">
                <img src="assets/images/f.png" alt="">
                <h4>inhand_for_live</h4>
            </div>
        </div>

    </div>
   
</div>
