.mission{
  padding: 20px;
}



h3{
  text-align: center;
  padding: 20px;
  margin-bottom: 76px;
  font-family: serif;
  font-weight: bold;
  color: rgb(30, 23, 113);
}

p{
    color: rgb(38, 37, 40);
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 20px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
  }

  
.rent-content{
  margin: 5px;
  padding: 3px;
  background: black;
  text-align: center;
  height: 300px;
  border-color: black;
  /* border-radius: 10px */
  }


.rent-content h4{
  margin-top: 5%;
padding: 2%;  
color:white;
font-size: 20px;
font-weight:400;

}
