<div class="mission"> 
  
  <p>

    <img src="\assets\images\banner.gif" style="width: 100%; margin-bottom:3%">
    In Hand, and it’s N.N.Rajah, have been involved in the central province Real Estate market for the last 20 years.
      Both Peter and Michael are licensed Real Estate Brokers and have extensive
      knowledge in Land Acquisition, Entitlement, Land Development, New Home Marketing and Sales,
      Commercial and Residential Sales, Commercial and Residential Leasing, and Commercial
      and Residential Property Management. NHL Brokers has a reputation for giving the highest
      quality service that is expected from a small boutique office, but with the staffing, 
      experience, and resources of a much medium office.

      The In Hand enables all rural real estate professionals to participate as owner/Members and,
      to take control of relationships with land buyers and sellers and all associated listings and
      data and control ever increasing advertising costs.Join the In Hand now to take a stand against
      constant increases in digital advertising prices, forfeiture of privacy, losses of data control, 
      and other factors which continue to burden all participants in the rural real estate industry.
      The In Hand is focused on data collection for the sole benefit of its Members  and on becoming the
      established marketplace for everything land… buying, selling, financing, and leasing.
      There are plenty of options to suits, unique requirements and most importantly budgets.
  </p>
  <p>
    In Hand knows how important it is. Representing your client’s property and needs is your bread and butter.
    We at the In Hand understand this and want to give you every opportunity to accurately produce a useful for clients.
    There are not many places you can go for ranch, land, and farm sold data and have it protected.
    At LiveAbout, we believe that your free time matters. Time away from the stress of work and responsibilities at home is limited,
    and we want to help you make the most of those precious hours. The choices are many in this area. You can be a commercial property
    specialist, selling business structures, or you can specialize in single family residential homes.

  </p>



  <div id="rent">
    <div id="rent-cards" class="container">
      <div class="row">
        
        <div  id="rent" class="col-lg-3 col-md-4">
          <div class="rent-content">
             <a href="/Rent" class="nav-link"> 
              <img src="/assets/images/home1.png" alt="" class="w-100" height="230px">
              <h4>House for Rent</h4>
             </a>
          </div>
        </div><!--end of the col-3-->

        <div  id="rent"  class="col-lg-3 col-md-4">
          <div class="rent-content">
            <a href="/Contact" class="nav-link">
              <img src="/assets/images/lap.png" alt="" class="w-100" height="230px">
              <h4>Contact Us</h4>
            </a>
            
          </div><!--end of the col-3-->
        </div>

        <div  id="rent"  class="col-lg-3 col-md-4">
          <div class="rent-content">
            <a href="/Rent" class="nav-link">
              <img src="/assets/images/land5.png" alt="" class="w-100" height="230px">
              <h4>Land for sale</h4>
            </a>
            
          </div><!--end of the col-3-->
        </div>

        <div  id="rent"   class="col-lg-3 col-md-4">
          <div class="rent-content">
            <a href="/Sale" class="nav-link">
              <img src="/assets/images/sds.png" alt="" class="w-100" height="230px">
              <h4>House for Sale</h4>
            </a>
            
          </div><!--end of the col-3-->
        </div>
      </div><!--end of the row-->
    </div>
  </div>



</div>
