<div class="container">
    <h1>Land For Sale</h1>
    <img src="/assets/images/land5.png" alt="" class="w-100" height="600px" style="padding: 50px; margin-top: -3%;">

    <div class="description">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.594498959282!2d80.56705391584657!3d7.056840404797571!2m3!1f0
            !2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae376ebe57278e1%3A0xee5ede808fea3039!2s13%20Mosque%20Rd%2C%20Hapugastalawa!5e0!3m2!1sen!2slk!4v1666970112437!5m2!1sen!2slk"
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
        <div class="details">
            <p>Valuable place in Hapugastalawa</p>
            <p>Near to Sub post office,</p>
            <p>Mosque road, Hapugastalawa</p>
        </div>
    </div>
</div>
