<div class="container">
    <h1>Land For Sale</h1>
    <img src="/assets/images/land4.png" alt="" class="w-100" height="600px" style="padding: 50px; margin-top: -3%;">


    <div class="description">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.7869734543237!2d80.5221709158455!3d7.034306105115843!2m3!1f0
            !2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae375cbdfc1c9dd%3A0x2f16f0944ba06423!2sDekinda%20Rd%2C%20Nawalapitiya!5e0!3m2!1sen!2slk!4v1666977950765!5m2!1sen!2slk" 
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="details">
            <p>2m far from main road</p>
            <p>Any time public bus transport available </p>
            <p>Near to Siri chethiyagiri viharaya,</p>
            <p>Dekindha road, Nawalapitiya</p>
        </div>
    </div>
</div>
