<div class="container">
    <h1>House For Sale</h1>
    <img src="/assets/images/home7.png" alt="" class="w-100" height="600px" style="padding: 50px; margin-top: -3%;">

    <div class="description">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31672.18637865161!2d80.58584175142877!3d7.123297307838444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae37088f0296305%3A0x64ebcddaadd65d7c!2sParadeka!5e0!3m2!1sen!2slk!4v1666982309008!5m2!1sen!2slk" 
              width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
        <div class="details">
            <p>Cool place surround by many trees and houses</p>
            <p>with 
                <li>Room - 3</li>
                <li>Kitchen</li>
                <li>Store room</li>
                <li>Bath Rooms - 2</li>
                <li>Small Living room</li>
            </p>
            <p>Near to Akalankas Teashop</p>
            <p>Welimada road, paradeka, Pussalawa</p>
        </div>
    </div>
</div>
