.container{
    margin-top: 6%;
    margin-bottom: 11.5%;
    h1{
        font-size: 60px;
        text-align: center;
        font-family: serif;
        font-weight: bold;
        color: rgb(16, 25, 55);
    }
}