  <div class="container">

    <div class="home_heading" style="padding-top:20px;">
      <h1>Signin</h1>
    </div>



    <div class="row" style="padding-top:3%;">

        <div class="col-lg-5 col-md-5 offset-lg-4 offset-md-4">


          <form name="myForm" action="" onsubmit="return validateForm()" method="post">

          <div class="form-row align-item-left">

             <div class="form-group col-lg-10 col-md-12">

             <label class="label mx-1" for="name">Username</label>
               <div class="input-group mx-1 mb-2 ">
                 <div class="input-group-prepend">
                <div class="input-group-text">
                        <i class="fas fa-user"></i>
                </div>
                </div>
                  <input type="text" class="form-control " name="fname"
                   id="user_id" name="user_id" placeholder="User Name">
               </div>
              </div><!-- end of form group size 6-->



              <div class="form-group col-lg-10 col-md-12">

                 <label class="label mx-1" for="name">Password</label>
                 <div class="input-group mx-1 mb-2 ">
                   <div class="input-group-prepend">
                    <div class="input-group-text">
                     <i class="fas fa-lock"></i>
                    </div>
                   </div>
                   <input type="password" class="form-control "
                    id="access_code" name="password" placeholder="use a strong password">
               </div>
             </div><!-- end of form group size 6-->


             <div class="form-group col-lg-12 col-md-12">

                  <input type="submit" class="col-5 btn btn-dark "
                   value="LOGIN" >
                   <input type="reset" class="col-5 btn btn-secondary "
                    value="CANCEL">
              </div>
            </div><!-- end of form group size 6-->






          </form>



    </div><!-- end of row-->



  </div><!-- end of container-->