<div class="container">
    <h1>Shop For Sale</h1>
    <img src="/assets/images/shop2.png" alt="" class="w-100" height="600px" style="padding: 50px; margin-top: -3%;">
    >

    <div class="description">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1784.2923245582479!2d80.53392503899524!3d7.057071756669036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae3742365eccebb%3A0x7a7f1aa4d451e378!2sSupper%20Market%20Complex%2C%20Kandy%20Rd%2C%20Nawalapitiya!5e0!3m2!1sen!2slk!4v1666981122619!5m2!1sen!2slk" 
             width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
        <div class="details">
            <p>Suitable place for do any kind of Buissness</p>
            <p>Medium size shop  </p>
            <p>Next to Ramyas Textile,</p>
            <p>Super commercial complex, Nawalapitiya</p>
        </div>
    </div>
</div>
