<div class="container">
    <h1>House For Rent</h1>
    <img src="/assets/images/home11.png" alt="" class="w-100" height="600px">

    <div class="description">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63375.69445422741!2d80.55596566401074!3d6.892887287192837!2m3!1f0
            !2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae39b1cbf7f60ab%3A0x130da193c44b7184!2sDick%20Oya%20Bungalow!5e0!3m2!1sen!2slk!4v1666875367128!5m2!1sen!2slk"
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
        <div class="details">
            <p>Old estate Bunglow</p>
            <p>with 
                <li>Living room</li>
                <li>Master bed rooms -2</li>
                <li>Bed rooms - 4</li>
                <li>Kitchen</li>
                <li>Store room</li>
                <li>Bath Rooms - 3</li>
                <li>Motor room</li>
                <li>Dinning room</li>  
            </p>
            <p>Maskeliya - Dalhouse road</p>
            <p>Dickoya road, Hatton </p>
        </div>
    </div>
</div>
