<div class="container">
  
      <div id="rent">
        <div id="rent-cards" class="container">
          <div class="row">
            <img src="/assets/images/sds.png" alt="" style="padding: 10px;height: 550px; margin-bottom: 5%;">

            <div  id="rent" class="col-lg-4 col-md-4">
              <div class="rent-content">
                <a href="/Sale1" class="nav-link">
                  <img src="/assets/images/home7.png" alt="" class="w-100" height="200px">
                  <h4>House for sale</h4>
                  <p id="price" >Paradeka, Pussalawa</p>
              </a>
              </div>
            </div><!--end of the col-3-->
  
            <div  id="rent"  class="col-lg-4 col-md-4">
              <div class="rent-content">
                <a href="/Sale2" class="nav-link">
                  <img src="/assets/images/home5.png" alt="" class="w-100" height="200px">
                  <h4>House for sale</h4>
                  <p id="price" >Sudhuhampola, kandy</p>
              </a>
              </div><!--end of the col-3-->
            </div>
  
            <div  id="rent"   class="col-lg-4 col-md-4">
              <div class="rent-content">
                <a href="/Sale3" class="nav-link">
                  <img src="/assets/images/home6.png" alt="" class="w-100" height="200px">
                  <h4>House for sale</h4>
                  <p id="price" >Selembridge, Nawalapitiya</p>
              </a>
              </div><!--end of the col-3-->
            </div>
          </div><!--end of the row-->
        </div>
      </div>
  
  
      <div id="rent">
  
        <div id="rent-cards" class="container">
          <div class="row">
            <div  id="rent" class="col-lg-4 col-md-4">
              <div class="rent-content">
                <a href="/Sale4" class="nav-link">
                  <img src="/assets/images/shop2.png" alt="" class="w-100" height="200px">
                  <h4>Shop for sale</h4>
                  <p id="price" >commerical complex Nawalapitiya </p>
                </a>
              </div>
            </div><!--end of the col-3-->
  
            <div  id="rent"  class="col-lg-4 col-md-4">
              <div class="rent-content">
                <a href="/Sale5" class="nav-link">
                  <img src="/assets/images/land1.png" alt="" class="w-100" height="200px">
                  <h4>Land for sale</h4>
                  <p id="price" >Benedict avenue, Nawalapitiya </p>
                </a>
              </div><!--end of the col-3-->
            </div>
  
            <div  id="rent"   class="col-lg-4 col-md-4">
              <div class="rent-content">
                <a href="/Sale6" class="nav-link">
                  <img src="/assets/images/home8.png" alt="" class="w-100" height="200px">
                  <h4>House for sale</h4>
                  <p id="price" >Baily road, Nawalapitiya</p>
                </a>
              </div><!--end of the col-3-->
            </div>
          </div><!--end of the row-->
        </div>
      </div>
  
      <div id="rent">
  
        <div id="rent-cards" class="container">
          <div class="row">
            <div  id="rent" class="col-lg-4 col-md-4">
              <div class="rent-content">
                <a href="/Sale7" class="nav-link">
                  <img src="/assets/images/land2.png" alt="" class="w-100" height="200px">
                  <h4>Land for sale</h4>
                  <p id="price" >Ginigathena road, Nawalapitiya</p>
                </a>
              </div>
            </div><!--end of the col-3-->
  
            <div  id="rent"  class="col-lg-4 col-md-4">
              <div class="rent-content">
                <a href="/Sale8" class="nav-link">
                  <img src="/assets/images/home14.png" alt="" class="w-100" height="200px">
                  <h4>House for sale</h4>
                  <p id="price" >kahatapitiya, Gampola</p>
                </a>
              </div><!--end of the col-3-->
            </div>
            <div  id="rent"   class="col-lg-4 col-md-4">
              <div class="rent-content">
                <a href="/Sale9" class="nav-link">
                  <img src="/assets/images/home17.png" alt="" class="w-100" height="200px">
                  <h4>House for sale</h4>
                  <p id="price" >Wattawala, Hatton</p>
                </a>
              </div><!--end of the col-3-->
            </div>
          </div><!--end of the row-->
        </div>
      </div>
  
      <div id="rent">
        <div id="rent-cards" class="container">
          <div class="row">
            <div  id="rent" class="col-lg-4 col-md-4">
              <div class="rent-content">
                <a href="/Sale10" class="nav-link">
                  <img src="/assets/images/land4.png" alt="" class="w-100" height="200px">
                  <h4>Land for sale</h4>
                  <p id="price" >Dhekindha road, Nawalapitiya</p>
                </a>
              </div>
            </div><!--end of the col-3-->
  
            <div id="rent" class="col-lg-4 col-md-4">
              <div class="rent-content">
                <a href="/Sale11" class="nav-link">
                  <img src="/assets/images/home15.png" alt="" class="w-100" height="200px">
                  <h4>House for sale</h4>
                  <p id="price" >Jayasundara, Nawalapitiya</p>
                </a>
              </div>
            </div><!--end of the col-3-->
  
          <div  id="rent"   class="col-lg-4 col-md-4">
            <div class="rent-content">
              <a href="/Sale12" class="nav-link">
                <img src="/assets/images/land5.png" alt="" class="w-100" height="200px">
                <h4>Land for sale</h4>
              <p id="price" >Hapukasthalawa</p>
              </a>
            </div><!--end of the col-3-->
          </div>
        </div><!--end of the row-->
      </div>
    </div>
  
  </div>