<div class="container">
    <h1>House For Sale</h1>
    <img src="/assets/images/home14.png" alt="" class="w-100" height="600px" style="padding: 50px; margin-top: -3%;">

    <div class="description">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.6175608344915!2d80.56743891585137!3d7.170130803185173!2m3!1
            f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae36e27482f4f2d%3A0xda71dbba122569b9!2s15%20Zahira%20College%20Rd%2C%20Gampola!5e0!3m2!1sen!2slk!4v1666978900421!5m2!1sen!2slk" 
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
        <div class="details">
            <p>Oposite lane to zahira school</p>
            <p> With
                <li>Dinning Room</li>
                <li>Small Living room</li>
                <li>Kitchen</li>
                <li>Prayer room</li>
                <li>Store room</li>
                <li>Bath Rooms - 2</li>
                <li>Bed rooms- 2</li>
            </p>       
            <p>Near to kahatapitiya jummah,</p>
            <p>Kandy road, Gampola</p>
        </div>
    </div>
</div>
