<div class="container">

    <div id="rent">
      <div id="rent-cards" class="container">
        <div class="row">
          <img src="/assets/images/sl1.gif" alt="" style="padding: 10px;height: 450px; margin-bottom: 5%;">
          
          <div  id="rent" class="col-lg-4 col-md-4">
            <div class="rent-content">
               <a href="/Rent1" class="nav-link"> 
                <img src="/assets/images/home2.png" alt="" class="w-100" height="200px">
                <h4>House for Rent</h4>
                <p>Near to Lake</p>
                <p id="price" >Haynford, Nawalapitiya</p>
               </a>
            </div>
          </div><!--end of the col-3-->

          <div  id="rent"  class="col-lg-4 col-md-4">
            <div class="rent-content">
              <a href="/Rent2" class="nav-link">
                <img src="/assets/images/h4.jpg" alt="" class="w-100" height="200px">
                <h4>4 Bedroom House for Rent</h4>
                <p>Opposite to Rambukpitiya school lane</p>
                <p id="price" >Ginigaththena Road, Nawalapitiya</p>
              </a>
              
            </div><!--end of the col-3-->
          </div>

          <div  id="rent"   class="col-lg-4 col-md-4">
            <div class="rent-content">
              <a href="/Rent3" class="nav-link">
                <img src="/assets/images/home3.png" alt="" class="w-100" height="200px">
                <h4>2 Bedroom House for Rent</h4>
                <p>Near to selembrige temple</p>
                <p id="price" >Selembridge, Nawalapitiya</p>
              </a>
              
            </div><!--end of the col-3-->
          </div>
        </div><!--end of the row-->
      </div>
    </div>


    <div id="rent">

      <div id="rent-cards" class="container">
        <div class="row">
          <div  id="rent" class="col-lg-4 col-md-4">
            <div class="rent-content">
              <a href="/Rent4" class="nav-link">
                <img src="/assets/images/shop1.png" alt="" class="w-100" height="200px">
                <h4>Hotel shop for Rent</h4>
                <p>With the hotel Stuffs</p>
                <p id="price" >Pallegama, Nawalapitiya</p>
              </a>
              
            </div>
          </div><!--end of the col-3-->

          <div  id="rent"  class="col-lg-4 col-md-4">
            <div class="rent-content">
              <a href="/Rent5" class="nav-link">
                <img src="/assets/images/home9.png" alt="" class="w-100" height="200px">
                <h4>3 Bedroom House for Rent</h4>
                <p>Firsr Floor for rent</p>
                <p id="price" >Hynford road,nawalapitiya</p>
              </a>
            
            </div><!--end of the col-3-->
          </div>

          <div  id="rent"   class="col-lg-4 col-md-4">
            <div class="rent-content">
              <a href="/Rent6" class="nav-link">
                <img src="/assets/images/home10.png" alt="" class="w-100" height="200px">
                <h4>House for Rent</h4>
                <p>Imbulpitiya uperdivision</p>
                <p id="price" >Imbulpitiya, Nawalapitiya</p>
              </a>
              
            </div><!--end of the col-3-->
          </div>
        </div><!--end of the row-->
      </div>
    </div>

    <div id="rent">

      <div id="rent-cards" class="container">
        <div class="row">
          <div  id="rent" class="col-lg-4 col-md-4">
            <div class="rent-content">
              <a href="/Rent7" class="nav-link">
                <img src="/assets/images/home11.png" alt="" class="w-100" height="200px">
                <h4>House for Rent</h4>
                <p>Old Estate Bunglow</p>
                <p id="price" >Dickoya, Hatton</p>
              </a>
              
            </div>
          </div><!--end of the col-3-->

          <div  id="rent"  class="col-lg-4 col-md-4">
            <div class="rent-content">
              <a href="/Rent8" class="nav-link">
                <img src="/assets/images/home12.png" alt="" class="w-100" height="200px">
                <h4>House for Rent</h4>
                <p>With 6 bedrooms and nice surrounding</p>
                <p id="price" >Thalawakelle</p>
              </a>
              
            </div><!--end of the col-3-->
          </div>
          <div  id="rent"   class="col-lg-4 col-md-4">
            <div class="rent-content">
              <a href="/Rent9" class="nav-link">
                <img src="/assets/images/shop4.png" alt="" class="w-100" height="200px">
                <h4>Room for rent</h4>
                <p>Suitable for office or Class</p>
                <p id="price" >2nd floar Abans building, Gampola</p>
              </a>
              
            </div><!--end of the col-3-->
          </div>
        </div><!--end of the row-->
      </div>
    </div>

    <div id="rent">
      <div id="rent-cards" class="container">
        <div class="row">
          <div  id="rent" class="col-lg-4 col-md-4">
            <div class="rent-content">
              <a href="/Rent10" class="nav-link">
                <img src="/assets/images/q1.png" alt="" class="w-100" height="200px">
                <h4>4 Bedroom House for Rent</h4>
                <p>Next to Balanthota sub post office</p>
                <p id="price" >Balanthota, Nawalapitiya </p>
              </a>
              
            </div>
          </div><!--end of the col-3-->

          <div id="rent" class="col-lg-4 col-md-4">
            <div class="rent-content">
              <a href="/Rent11" class="nav-link">
                <img src="/assets/images/shop3.png" alt="" class="w-100" height="200px">
                <h4>Shop for Rent</h4>
                <p>Suitable for hotels or coffee shops</p>
                <p id="price" >Hatton road, Wattawala</p>
              </a>
              
            </div>
          </div><!--end of the col-3-->

        <div  id="rent"   class="col-lg-4 col-md-4">
          <div class="rent-content">
            <a href="/Rent12" class="nav-link">
              <img src="/assets/images/r2.png" alt="" class="w-100" height="200px">
              <h4>Room for rent</h4>
              <p>2 person can stay</p>
              <p id="price" >Sudhuhampola Kandy</p>
            </a>
            
          </div><!--end of the col-3-->
        </div>
      </div><!--end of the row-->
    </div>
  </div>

</div>